section(id="hero__community_partners")
  .container.community-partners-container
    .inner
      h2(role="heading" aria-level="2").is-title.is-2 !{site.data.defaults.conference.community_partners_title}
      .columns.grusp_community_partners(data-name=config.slug data-tags=site.data.sponsors.partner_tags.join(' '))
